@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: var(--mono-font);
}

.main-shrunk {
  transform: scale(0.5);
}

.overlay-behind {
  z-index: 0 !important;
}

.w-200 {
  width: 200%;
}

/* Base overlay position */
.overlay {
  position: absolute;
  --translate-x: -50%;
  --translate-y: -50%;
  --overlay-scale: 0.5;
  transform: translate(var(--translate-x), var(--translate-y))
    scale(var(--overlay-scale));
}

/* Horizontal alignment classes */
.overlay-hl {
  --translate-x: -50%;
}

.overlay-hm {
  --translate-x: 0%;
}

.overlay-hr {
  --translate-x: 50%;
}

/* Vertical alignment classes */
.overlay-vt {
  --translate-y: -50%;
}

.overlay-vm {
  --translate-y: 0%;
}

.overlay-vb {
  --translate-y: 50%;
}

.overlay-tiny {
  --overlay-scale: 0.35;
}

.overlay-shrunk {
  --overlay-scale: 0.5;
}

.overlay-enlarge {
  --overlay-scale: 1;
}

.overlay-enlarge-plus {
  --overlay-scale: 1.5;
}

#action-text * {
  background: transparent;
}

.action,
.subaction,
.object {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.action img {
  max-width: 100%;
  width: auto;
}

.action {
  width: 100%;
  flex-direction: row-reverse;
  border-bottom: 2px solid var(--main-accent-color);
}

.subaction {
  flex-direction: row-reverse;
  flex: 1;
  padding: min(4vh, 1rem) 2.5%;
  height: 100%;
  width: 100%;
}

.object,
.connect {
  flex-direction: column-reverse;
  position: relative;
  max-width: min(8vw, 4rem);
  margin: 2.5%;
}

.main,
.mod-1,
.mod-2,
.connect {
  z-index: 1;
  /* width: 100%;
  text-align: center; */
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-100 {
  text-align: center;
  flex-basis: 100%;
  width: 100%;
  max-width: unset;
}

.flex-100 > * {
  max-width: min(8vw, 4rem) !important;
  margin: auto;
}
