@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-shrunk {
  transform: scale(0.75) translate(-66.67%, -66.67%) !important;
}

.overlay-enlarge {
  transform: scale(1.5) translate(-33.33%, -33.33%) !important;
}

.overlay-behind {
  z-index: 0 !important;
}

.w-200 {
  width: 200%;
}

.overlay {
  position: absolute;
  transform: translate(-50%, -50%);
}

.overlay-hl {
  left: 0%;
}

.overlay-hm {
  left: 50%;
}

.overlay-hr {
  left: 100%;
}

.overlay-vt {
  top: 0%;
}

.overlay-vm {
  top: 50%;
}

.overlay-vb {
  top: 100%;
}

#action-text * {
  background: transparent;
}

.action img {
  height: unset;
  width: unset;
  max-width: unset;
  max-height: unset;
  background: transparent;
}

.wrap {
  flex-direction: unset;
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-direction: unset !important;
  flex-wrap: wrap-reverse;
}

.flex-100 {
  width: 100%;
  text-align: -webkit-center;
}

#action-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: min(6vw, 2rem);
}

.action,
.subaction,
.object {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: min(15vw, 5rem);
}

.action {
  width: 100%;
  flex-direction: row-reverse;
  flex: 1;
  padding: min(30vw, 10rem);
  border: 2px solid var(--accent-bg-color);
  padding: 0 min(15vw, 5rem);
}

.subaction {
  flex-direction: row-reverse;
  flex: 1;
  padding: 0 min(15vw, 5rem);
}

.object {
  flex-direction: column-reverse;
  position: relative;
}

.main,
.mod-1,
.mod-2,
.connect {
  z-index: 1;
}
