@tailwind base;
@tailwind components;
@tailwind utilities;

#action-text {
  text-align: center;
}
#action-text,
#action-text * {
  font-size: 2rem;
}

#action-text b {
  font-weight: 1000;
  color: red;
}
